{% extends 'base.html' %}
{% block navlinks %}
<div class="questionnaire">
    <div class="form">
        <form action="/questionnaire" class="form" method=post>
            {% for question,reponses in question_categorie.items() %}
                <h2>{{question[1]}}</h>
                    {% for reponse in reponses %}
                        <br><input type="radio" id="reponse {{reponse[0]}}" name="categ" value="{{reponse[0]}}">
                        <label for="reponse {{reponse[0]}}">{{reponse[1]}}</label><br>
                    {% endfor %}
            {% endfor %}
            {% for question,reponses in question_metier.items() %}
                <h2>{{question[1]}}</h>
                    {% for reponse in reponses %}
                        <br><input type="radio" id="reponse {{reponse[0]}}" name="categ" value="{{reponse[0]}}">
                        <label for="reponse {{reponse[0]}}">{{reponse[1]}}</label><br>
                    {% endfor %}
            {% endfor %}
            <input type="submit" value="Envoyer">
        </form>
    </div>
</div>
{% endblock %}