*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style:none;
}

body {
    font-family: "Tw Cen";
    font-size: 14px;
    background-color: black;
}

.backgroond {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: url("/static/images/orientation_img.png") center center no-repeat;
    background-size: cover;
    background-color: black;
    z-index: -100;
    opacity:0.9;
}

header {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

nav {
    position: relative;
    padding: 0 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

nav .logo {
    width: 125px;
}

nav .humber {
    display: none;
    position: absolute;
    top: 15px;
    right: 50px;
    width: 50px;
}

nav ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color:#fff;
    font-size: 1.2rem;
    transition: color .3s;
}

nav ul li a:hover {
    color: #2eb0f0;

}

.footer
{
    position:absolute;
    bottom:0;
    width:100%;
    height:100px; 
}

.footer footer .colum
{
  display: flex;
  justify-content: center;
}

.footer footer .colum div
{
  padding: 10px;
}

.footer footer .colum div a
{
  text-decoration: none;
  color:#8f8f8f;
  font-size: 20px;
}

.footer footer .colum div a:hover,
.footer footer .colum div a:nth-child(2)
{
  color:#45f3ff
}

@media screen and (max-width: 900px) 
{
    .navbar
    {
        padding: 0;
    }
    .navbar .menu-hamburger
    {
        display: block;
    }

    .nav-links
    {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(128, 128, 128, 0.80);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-left: -150%;
        transition: all 0.5s;
    }

    .nav-links.mobile-menu
    {
        margin-left: 0;
    }

    .nav-links ul
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li
    {
        margin: 25px 0;
        font-size: 1.2em;
    }


    nav .logo
    {
        width: 100px;
        height: 100px;
    }

    nav .humber
    {
        display: block;
    }

    .footer
    {
        position:absolute;
        bottom:0;
        width:100%;
        height:100px;
    }
    .footer footer .colum div a
    {
        font-size: 14px;
    }
}